.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App .error {
  width: 400px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 10px;
  padding: 5px;
}
.App .calculator {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #999;
  width: 400px;
  max-width: 90vw;
}
.App > .calculator > #screen {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  resize: none;
  width: 80%;
  margin: 15px 0;
  text-align: right;
  font-size: 1.5em;
}
.App > .calculator > .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  width: 90%;
  margin: 5px 0 15px 0;
}
.App > .calculator > .buttons button {
  width: 100%;
  height: 50px;
  font-size: larger;
}

@media only screen and (max-width: 360px) {
  .App > .calculator > #screen {
    width: 70%;
  }
}
